<div class="recipes-wraper">
  <div class="card-recipes-principal ">
    <div class=" card-secundaria-recipes">
      <h1 class="titulo-1"><%= current_user.name %>, estas son tus prescripciones:</h1>
        <div style="display: flex;height: 11rem;justify-content: center; margin-left:-1.55rem">
          <div class="secondary-barra" style="margin-top: 2rem;margin-bottom: 3rem;background-color#: f9f8f8;align-items: center;background: #f9f8f8;border-radius: 60px;justify-content: center;display: flex;    width: 43rem;">
            <div style="margin-right: 2rem;">
              <h4 style="font-size: inherit;color: #6d6e6f;">Prescripciones totales: <%= @recipes.count %></h4>
            </div>
            <div style="margin-right: 2rem;">
              <h4 style="font-size: inherit;color: #6d6e6f;">Porcentaje Salud: 50%</h4>
            </div>
            <div style="margin-right: 2rem;">
              <h4 class="link-new-recipe" style="font-size: inherit;color: #6d6e6f;"> <%= link_to "Agregar prescripción", new_recipe_path, style: "font-size: inherit;color: #6d6e6f;" %> </h4>
            </div>
          </div>
        </div>
        <div class="general-card">
          <div class="card-recipes-index overflow-auto" style="max-height: 29rem;box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.45), -25px 0 20px -20px rgba(0, 0, 0, 0.45);border-radius: 1rem;border-style: ridge;padding: 1rem;">
            <div class="avatar1" style="display: grid;grid-template-columns: 1fr 2fr 1fr;border-bottom: inset;height: 7rem;">
              <%= image_tag "https://res.cloudinary.com/drd7kavdp/image/upload/v1674605688/healthy-habits_ffx7kd.png", class:"avatar-1", style:"border-radius:50%;height: 5rem;margin-left: 1rem;margin-top: 0.5rem;"%>
              <h4 class="card-text-recipes-1"> Tus prescripciones</h4>
              <%= link_to "+", new_recipe_path, style: "text-align: end;display: flex;justify-content: center;margin-top: 0.75rem;font-size: 3rem;" %>
            </div>
                <div class="table-principal">
                  <table class="table" style="font-weight: 100;font-family: 'Montserrat';;">
                    <thead>
                      <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col">Profesional</th>
                        <th scope="col">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @recipes.each do |recipe| %>
                      <tr>
                        <th scope="row"><%= recipe.date %></th>
                        <td><%= recipe.doctor_name %></td>
                        <td><%= link_to recipe_path(recipe), data: {turbo_method: :delete, turbo_confirm: "Desea eliminar el elemento de manera permanente?"} do %>
                          <i class="fa-solid fa-trash" style="color: #f05168"></i>
                          <% end %>
                          <%= link_to edit_recipe_path(recipe) do %>
                          <i class="fa-solid fa-pencil" style="color: #ffcc07"></i>
                          <% end %>
                          <%= link_to recipe_path(recipe) do %>
                          <i class="fa-solid fa-eye"></i>
                        <% end %>
                        </td>
                      </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
            </div>
            <div class="card-recipes-index"  style="box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.45), 25px 0 20px -20px rgba(0, 0, 0, 0.45);border-radius: 1rem;border-style: ridge;padding: 1rem;">
              <div class="avatar1" style="display: grid;grid-template-columns: 0fr 1fr;border-bottom: inset;height: 7rem;">
                <%= image_tag "https://res.cloudinary.com/drd7kavdp/image/upload/v1674609847/icono-recipes_cihbaa.png", class:"avatar-1", style:"border-radius:50%;height: 5rem;margin-left: 1rem;margin-top: 0.5rem;"%>
                <h4 class="card-text-recipes-3"> Ultimas prescripciones </h4>
              </div>
                <div class="minicards-principal">
                  <% @recipes.first(4).each do |recipe| %>
                    <%= link_to recipe_path(recipe) do %>
                      <div class="col">
                          <div class="card-recipes-index">
                            <div class="avatar-2">
                              <%= image_tag "https://res.cloudinary.com/drd7kavdp/image/upload/v1674609847/icono-recipes_cihbaa.png", class:"avatar-1", style:"border-radius:50%;height: 3rem;margin-left: 1rem;margin-top: 1rem;"%>
                              <h3 class="card-text-recipes-4"> <%= recipe.doctor_name %> </h3>
                              <p class="card-text-recipes-5"> <%= recipe.date %> </p>
                            </div>
                          </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
            </div>
      </div>
    </div>
  </div>
</div>
