<script>
  AOS.init();
</script>
<div class="recipe-new-wraper">
  <div class="card-recipe-principal-new">
    <div class="card-secundaria-recipe-new">
      <div data-aos="flip-left">
        <div class="card-recipe-new" style="width: 50rem">
        <div class="mb-5">
          <h1 style="font-size: 2rem;font-family: montserrat;padding-top: 1.5rem;;font-weight: 500;">Nueva Prescripción</h1>
          <h4 style="margin-top: 0%;font-family: montserrat;font-weight: 200;font-size: 1.2rem;">Agregá una prescripción a tu historial.</h4>
          <div class="linea-recipe"></div>
        </div>
        <div>
          <%= simple_form_for @recipe do |f| %>
              <%= f.input :date, label: "Fecha",
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "fecha", class:"form-control form-control-lg" } %>
              <%= f.input :doctor_name, label: "Profesional",
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "nombre del doctor/a", class:"form-control form-control-lg" } %>
              <%= f.input :photo, label: "Cargue el archivo",
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "cargue el archivo", class:"form-control form-control-lg" } %>
              <div class="mt-5">
                <%= f.submit :Crear, class:"boton-1 btn btn-primary mb-4" %>
                <%= link_to "Volver", recipes_path(@recipes), class: "boton-1 btn btn-primary mb-4" %>
              </div>
          <% end  %>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
