<%= simple_form_for @booking do |f| %>
  <div class="contenedor h-100 cont-new-booking">
      <div class="row d-flex justify-content-center align-items-center h-110" style="width: 40rem;">
        <div class="card-body p-5 text-center text-new-bookings" style="box-shadow: 0 19px 38px rgb(0 0 0 / 30%), 0 15px 12px rgb(0 0 0 / 22%);border-radius: 1rem;;margin-top: 3rem;">

          <h3 style="margin-bottom:1.5rem;">Editar Cita</h3>

          <div style="font-size:1.3rem;">
            <div class="form-outline mb-3">
            <%= f.input :name, label: "Nombre", class: "form-control form-control-lg" %>
            </div>

            <div class="form-outline mb-3">
            <%= f.input :start_time, label: "Tiempo de inicio", class:"form-control form-control-lg", html5:true %>
            </div>

            <div class="form-outline mb-3">
            <%=  f.input :details, label: "Detalles", class: "form-control form-control-lg" %>
            </div>

            <div class="form-outline mb-3">
            <%=  f.input :address, label: "Dirección", class: "form-control form-control-lg" %>
            </div>

            <%= f.button :submit, "Crear", class:"btn btn-primary btn-lg btn-block btn-new-booking" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
