<div class="bookings-wraper">
  <div>
    <%= render "shared/sidebar" %>
  </div>
  <div class="card-bookings-principal ">
    <div class=" card-secundaria-bookings">
      <h1 class="titulo-1">Buenos días, <%= current_user.name %> :</h1>
        <h4 style="display: flex;justify-content: center;font-family: 'Montserrat';font-weight: 300;margin-bottom: -1rem">Estas son tus citas</h4>

        <div class="general-card-bookings-2">
          <div class="card-booking-2">
            <div class="card-booking-2-infos">
              <h1 style="color: black;"><%= @booking.name  %></h1>
                <h3 style="color: black;"><%= @booking.start_time  %> ARS </h3>
                <h3 style="color: black;"><%= @booking.details %></h3>
                <h3 style="color: black;"><%= @booking.address %></h3>
            </div>
          </div>

        </div>
    </div>
  </div>
</div>
