<%= javascript_include_tag "image_zoom.js" %>
<div class="no-wrap">

  <div class="contenedor-booking">
    <h1 class="titulo-show-booking">Detalles de tu cita</h1>
  </div>
  <div class="contenedor-show-bookings vh-100">
    <div class="card-booking-1" style="border: groove;">
      <div class="card-details-booking" style="width: 100%;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong style="font-size: 1.7rem"><%= @booking.name %></strong></li>
          <div><br><strong style="font-size: 1.2rem;margin-right: 0.4rem;">Fecha:   </strong><%= I18n.l(Date.today, format: '%A, %d de %B de %Y') %><br><br></div>
          <div><strong style="font-size: 1.2rem;margin-right: 0.4rem;">Hora: </strong><%= @booking.start_time.strftime("%H:%M") %><br><br></div>
          <div><strong style="font-size: 1.2rem;margin-right: 0.4rem;">Detalles: </strong><%= @booking.details %><br><br></div>
          <div><strong style="font-size: 1.2rem;margin-right: 0.4rem;">Dirección: </strong><%= @booking.address %></div>

          <%= link_to "Volver", bookings_path(@bookings), class: "btn btn-secondary btn-show" %>
        </ul>

        <div class="img-exam img-prueba" style="border-radius: 1rem;">
          <%= image_tag "https://res.cloudinary.com/drd7kavdp/image/upload/v1674781469/foto_mapa_michelle_dg0aiw.jpg", id:"my-image", style:"height: 31rem;position:relative;left: -1rem;top: 0rem;"%>
        </div>
      </div>

    </div>

  </div>
</div>
