<script>
  AOS.init();
</script>
<div class="recipes-wraper d-flex justify-content-center">
  <div class="column-nosotros">
    <div data-aos="flip-left">
      <div class="card-nosotros-user" style="width: 48rem;height: 22rem;box-shadow: 0px 25px 20px -20px rgb(0 0 0 /   45%), -25px 0 20px -20px rgb(0 0 0 / 45%);border-radius: 1rem;border-style: ridge;    margin-top: 10rem;margin-bottom: 10rem;">
        <%= image_tag "https://res.cloudinary.com/drd7kavdp/image/upload/v1674609097/Foto_perfil_nljvbn.jpg", class:"radio-imagen-user" %>
        <div class="contenedor-nosotros">
          <h4 class="h4-index-user"> <strong>Nombre:</strong> <%= current_user.name %> </h4>
          <h4 class="h4-index-user"  > <strong>Apellido:</strong> <%= current_user.last_name %> </h4>
          <h4 class="h4-index-user"> <strong>Fecha de nacimiento:</strong> <%= current_user.date_of_birth %> </h4>
          <h4 class="h4-index-user" > <strong>Genero:</strong> <%= current_user.gender %> </h4>
          <h4 class="h4-index-user"> <strong>Tipo de sangre:</strong> <%= current_user.blood_type %> </h4>
          <h4 class="h4-index-user"> <strong>Grupo sanguíneo:</strong> <%= current_user.blood_group %> </h4>
          <h4 class="h4-index-user"> <strong>Email:</strong> <%= current_user.email %> </h4>
          <h4 class="h4-index-user"> <strong>Teléfono:</strong> <%= current_user.phone_number %> </h4>
        </div>
      </div>
    </div>
  </div>
</div>
