<div class="recipes-new-wraper">
  <div class="user-profile">
    <div class="column-nosotros">
        <div class="card-nosotros-user", style="width: 27rem; height: 49.6rem; margin-bottom: 3rem; box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); margin: 0.5rem; border-radius: 1.25rem; margin-top: 5rem; margin-bottom: 10rem;">
          <%= image_tag "https://res.cloudinary.com/drd7kavdp/image/upload/v1674609097/Foto_perfil_nljvbn.jpg", class:"radio-imagen-2"  %>
          <div class="contenedor-nosotros">
            <h4> <strong>Nombre:</strong> <%= current_user.name %> </h4>
            <h4> <strong>Apellido:</strong> <%= current_user.last_name %> </h4>
            <h4> <strong>Fecha de nacimiento:</strong> <%= current_user.date_of_birth %> </h4>
            <h4> <strong>Género:</strong> <%= current_user.gender %> </h4>
            <h4> <strong>Tipo de sangre:</strong> <%= current_user.blood_type %> </h4>
            <h4> <strong>Grupo sanguíneo:</strong> <%= current_user.blood_group %> </h4>
            <h4> <strong>Email:</strong> <%= current_user.email %> </h4>
            <h4> <strong>Teléfono:</strong> <%= current_user.phone_number %> </h4>
          </div>
        </div>
    </div>
  </div>
</div>
