<div>
    <div class="contenedor-section py-5">
      <div>
        <h3 class="titulo-home"> Recupera el control <br> de tu salud.</h3>
        <hr />
        <p class="">
          ¡Bienvenidos a nuestro sitio web de salud! <br>
          Aquí puedes subir tu historia clínica y tener acceso a ella en cualquier momento y lugar. <br>
          Asi es más fácil mantener un registro actualizado y hacer un seguimiento de tu salud. Con Mi salud al tener todo tu historial clínico digitalmente, puedes evitar llevar copias en papel contigo a cada consulta médica.
        </p>
        <%= link_to "Comenzar", new_user_registration_path, class: "btn btn-primary mt-3" %>
      </div>

        <div class="picture-home"> <%= image_tag ("https://res.cloudinary.com/dmbtujt7l/image/upload/c_scale,w_400/v1674922721/15_autjiv.png"), class:"image-1-home" %> <%= image_tag ("https://res.cloudinary.com/dmbtujt7l/image/upload/c_scale,w_400/v1674922722/19_h5l6ra.png"), class:"image-2-home" %>
        </div>
    </div>

    <div class="contenedor-section2">
          <div class="card-home">
              <div class="picture-home-2"> <%= image_tag  ("https://res.cloudinary.com/drd7kavdp/image/upload/v1674605687/foto-appointment1_ahphkx.png"), class:"image-3-home" %>
              </div>
            <div class="overflow-auto">
              <h3 class="titulo-home">Gestiona tus estudios</h3>
              <hr />
              <p>¡Bienvenidos a nuestro sitio web dedicado a ayudarle a gestionar sus citas médicas y a mantener un registro de su historial médico! Ya sea que tenga dificultades para recordar su próxima revisión o desee mantener un registro de sus tratamientos anteriores, estamos aquí para ayudarle. Nuestra plataforma de fácil uso le permite programar citas y almacenar su historial médico en un solo lugar. Con nuestra ayuda, podrá controlar su atención médica y estar al tanto de su salud.</p>
                <%= image_tag  ("https://res.cloudinary.com/drd7kavdp/image/upload/v1674605689/mensajes_escooz.png"), class:"image-4-home" %>
            </div>
          </div>
      </div>
    </div>

    <div class="contenedor-section py-5">
      <div>
        <h3 class="titulo-home"> Mantene tus exámenes <br> ordenados.</h3>
        <hr />
        <p class="" style="margin-right: 39rem;">
          Mi Salud,<br>
          Donde puedes subir archivos como radiografías, análisis de sangre y organizarlos por categorías. Con nuestro sitio, usted puede mantener todos sus resultados médicos importantes en un solo lugar seguro y fácil de acceder. ¡No más buscar entre carpetas de papeles desordenadas! Ahora puede tener toda su información médica a mano, en cualquier momento y lugar. ¡Comience a utilizar nuestro sitio web de salud hoy mismo para tener un control mejor sobre su salud! <br>
        </p>
        <%= link_to "Comenzar", new_user_registration_path, class: "btn btn-primary mt-3" %>
      </div>
      <div>
        <div class="row product-contenedor">
              <div class="card-exams-home" style="background: #E1E6E7; width: 16rem;position: relative;right: 30rem;top: 4rem;box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px; border-radius:1rem;">
                    <%= image_tag  ("https://res.cloudinary.com/dmbtujt7l/image/upload/c_scale,w_250/v1674928710/Dise%C3%B1o_sin_t%C3%ADtulo_2_szmoro.png"), class:"card-img-top" %>
                  <div class="card-body-1">
                      <h5 class="card-title-1">Laboratorio</h5>
                      <h5 class="card-text-1-home" style="font-size: 1rem;font-weight: 200;font-family: montserrat;">Guarda todos tus análisis clínicos en un solo lugar</h5>
                  </div>
                </div>
        </div>
        <div class="row product-contenedor">
              <div class="card-exams-home-2" style="background: #E1E6E7; width: 16rem; position: relative; right: 8rem;top: -6rem; box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px; border-radius:1rem;">
                    <%= image_tag  ("https://res.cloudinary.com/dmbtujt7l/image/upload/v1674922721/14_dmpqa2.png"), class:"card-img-top" %>
                  <div class="card-body-1">
                      <h5 class="card-title-1">Cardiología</h5>
                      <h5 class="card-text-1-home" style="font-size: 1rem;font-weight: 200;font-family: montserrat;">Encontra todos tus estudios cardiológicos aquí</h5>
                  </div>
                </div>
        </div>
      </div>
    </div>
</div>
