<%# <script>
  AOS.init();
</script> %>
<div class="contenedor-principal" style="margin-left: -14rem;margin-top: -2rem;">
  <div class="cards-div-nosotros">
    <h1 class="nosotros-header">Quienes somos</h1>
    <p class="nosotros">
      Somos un equipo de profesionales comprometidos con mejorar la salud de las personas mediante la tecnología.
      Enfocamos nuestros esfuerzos en desarrollar una plataforma online fácil de usar y segura para la gestión de estudios médicos.
      Nuestra aplicación permite a las personas subir, almacenar y compartir sus estudios médicos con sus médicos de manera segura, programar citas, ver resultados de estudios y llevar un control de su salud.
      En nuestra plataforma también encontrarás una interfaz sencilla y fácil de usar, ademas de recordatorios y alertas para citas medicas y seguimiento de tus estudios.
      Sólo mediante el compromiso diario con lo que hacemos y con el entorno que nos rodea podemos seguir hacia delante. Además de desarrollar nuestro modelo de negocio, debemos ir más allá y esforzarnos para dejar un legado a la sociedad.
      "Te invitamos a unirte y mejorar la salud mediante la tecnología."</p>
    <%= image_tag ("https://res.cloudinary.com/dmbtujt7l/image/upload/c_scale,w_800/v1674846968/6_gnlztl.png"), class:"radio-imagen-office"  %>
  </div>

  <%# ACA EMPIEZAN LAS CARDS %>

  <div class="cards-nosotros-div">
    <%# <div data-aos="flip-up"> %>
      <div class="column-nosotros-1">
        <div class="card mb-3 card-nosotros-tamaño" style="box-shadow: 0 19px 38px rgba(0 0 0 / 30%), 0 15px 12px rgb(0 0 0 / 22%);">
          <div class="row g-0">
            <div class="col-md-4">
              <%= image_tag "https://res.cloudinary.com/drd7kavdp/image/upload/v1674610666/caro_xzncd8.png", class:"radio-imagen" %>
            </div>
              <div class="col-md-8">
                <div class="card-body-nosotros">
                  <h2 class="card-title-nosotros-10">Carolina R. Trillo</h2>
                  <p id="card-title-caro">Cofundador & CEO</p>
                  <p id="description-card-caro">Experiencia internacional, trabajando y aprendiendo en entornos multiculturales. Apasionada de las soluciones informáticas.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <%# </div> %>

    <%# <div data-aos="flip-up"> %>
      <div class="column-nosotros-2">
        <div class="card mb-3 card-nosotros-tamaño" style="box-shadow: 0 19px 38px rgba(0 0 0 / 30%), 0 15px 12px rgb(0 0 0 / 22%);">
          <div class="row g-0">
            <div class="col-md-4">
              <%= image_tag "https://res.cloudinary.com/drd7kavdp/image/upload/v1674609097/Foto_perfil_nljvbn.jpg", class:"radio-imagen" %>
            </div>
            <div class="col-md-8">
              <div class="card-body-nosotros">
                <h2 class="card-title-nosotros-10">Francisco Giacchi</h2>
                <p id="card-title-caro">Desarrollador Web</p>
                <p class="description-card-p-nosotros-10">Máster Internacional en Administración de Empresas. Me apasiona resolver problemas, analizándolos desde diferentes perspectivas.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <%# </div> %>

    <%# <div data-aos="flip-up"> %>
      <div class="column-nosotros-3">
        <div class="card mb-3 card-nosotros-tamaño" style="box-shadow: 0 19px 38px rgba(0 0 0 / 30%), 0 15px 12px rgb(0 0 0 / 22%);">
          <div class="row g-0">
            <div class="col-md-4">
              <%= image_tag "https://res.cloudinary.com/drd7kavdp/image/upload/v1674610666/gaston_unqdqg.jpg", class:"radio-imagen" %>
            </div>
            <div class="col-md-8">
              <div class="card-body-nosotros">
                <h2 class="card-title-nosotros-10">Gastón Henrich</h2>
                <p id="card-title-caro">Desarrollador Web</p>
                <p class="description-card-p-nosotros-10">Pasión por resolver problemas y encontrar soluciones eficientes. Apasionado por el desarrollo y el aprendizaje continuo.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <%# </div> %>

    <%# <div data-aos="flip-up"> %>
      <div class="column-nosotros-4">
        <div class="card mb-3 card-nosotros-tamaño" style="box-shadow: 0 19px 38px rgba(0 0 0 / 30%), 0 15px 12px rgb(0 0 0 / 22%);">
          <div class="row g-0">
            <div class="col-md-4">
              <%= image_tag "https://res.cloudinary.com/drd7kavdp/image/upload/v1674610666/michelle_timwly.jpg", class:"radio-imagen" %>
            </div>
            <div class="col-md-8">
              <div class="card-body-nosotros">
                <h2 class="card-title-nosotros-10">Michelle Madrid</h2>
                <p id="card-title-caro">Desarrolladora Web</p>
                <p class="description-card-p-nosotros-10">Estudiante de Ingeniería, interesada en la sustentabilidad y en la solución de problemas aplicando tecnologías que estén a la vanguardia.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <%# </div> %>
  </div>
</div>
