<script>
 AOS.init();
</script>
<div class="no-wrap">
  <div class="cont-medical mt-5 vh-100" id= "'home2">
    <div class="row">


      <div class="col-6" data-aos="zoom-in-right" ata-aos-offset="500" data-aos-easing="ease-in-sine">
       <div class="card card-medical fondo">
         <div class="card-header-home2">
           <h2 class="mt-3" id="h2-home2">Últimos examenes</h2>
         </div>
         <div>
           <table class="table-medical">
             <thead>
               <tr>
                 <th scope="col">Fecha</th>
                 <th scope="col">Examen</th>
                 <th scope="col">Lugar</th>
               </tr>
             </thead>
             <tbody>
               <% @exams.each do |exam| %>
                <tr>
                  <th scope="row row-medical" style="font-weight: 200;"><%= exam.date%></th>
                  <th scope="row row-medical" style="font-weight: 200;"><%= exam.name%></th>
                  <th scope="row row-medical" style="font-weight: 200;"><%= exam.place%></th>
                </tr>
               <% end %>
             </tbody>
             </table>
         </div>
         <div class="medical-imag">
           <%= image_tag ("https://res.cloudinary.com/dmbtujt7l/image/upload/c_scale,w_117/v1674778200/2_tqeqea.png") %>
         </div>
         <div >
           <h4><%= link_to "Ver todos", exams_path, class:"boton-ver btn btn-primary"%></h4>
         </div>
       </div>
      </div>


      <div class="col-6" data-aos="zoom-in-left" ata-aos-offset="500" data-aos-easing="ease-in-sine">
       <div class="card card-medical">
         <div class="card-header-home2">
           <h2 class="mt-3" id="h2-home2">Últimas prescripciones</h2>
         </div>
          <div>
            <table class="table-medical" style="margin-left: -12rem;">
              <thead>
                <tr>
                  <th scope="col">Fecha</th>
                  <th scope="col">Doctor</th>
                </tr>
              </thead>
              <tbody>
                <% @recipes.each do |recipe|  %>
                  <tr>
                    <th scope="row row-medical" style="font-weight: 200;"><%= recipe.date%></th>
                    <th scope="row row-medical" style="font-weight: 200;"><%= recipe.doctor_name%></th>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
         <div class="medical-imag">
           <%= image_tag ("https://res.cloudinary.com/dmbtujt7l/image/upload/c_scale,w_117/v1674778200/1_chcckf.png") %>
         </div>
         <div >
           <h4><%= link_to "Ver todos", recipes_path, class:"boton-ver btn btn-primary"%></h4>
         </div>
        </div>
      </div>
    </div>


    <div class="row justify-content-around my-5">


      <div class="col-6" data-aos="zoom-in-right" ata-aos-offset="500" data-aos-easing="ease-in-sine">
       <div class="card card-medical">
         <div class="card-header-home2">
           <h2 class="mt-3" id="h2-home2">Estado de tus hábitos</h2>
         </div>
         <div>
         <table class="table-medical-habito">
             <thead>
               <tr>
                 <th scope="col">Habitos</th>
               </tr>
             </thead>
             <tbody>
               <% @habits.each do |habit|  %>
                 <tr>
                   <th scope="row row-medical" style="font-weight: 200"><%= habit.habit_type %></th>
                 </tr>
               <% end %>
             </tbody>
           </table>
         </div>
         <div class="grafico-dona">
               <% @habits.last(1).each do |habit|  %>

                <%= pie_chart Habit.group(:habit_type).limit(4).sum(:user_id), legend: false, donut: true, colors: ["#FF5757", "#03989E", "#545454", "#00C2CB"] %>

               <% end %>

         </div>
         <div >
           <h4><%= link_to "Ver todos", habits_path, class:"boton-ver btn btn-primary"%></h4>
         </div>
       </div>
      </div>


      <div class="col-6" data-aos="zoom-in-left" ata-aos-offset="500" data-aos-easing="ease-in-sine">
       <div class="card card-medical">
         <div class="card-header-home2">
           <h2 class="mt-3" id="h2-home2">Próximos turnos</h2>
         </div>
         <div>
           <table class="table-medical" style="margin-left: -11rem;
}">
             <thead>
               <tr>
                 <th scope="col">Fecha</th>
                 <th scope="col">Turno</th>
               </tr>
             </thead>
             <tbody>
               <% @bookings.each do |booking|  %>
                 <tr>
                   <th scope="row row-medical" style="font-weight: 200;"><%= booking.start_time.strftime("%Y-%m-%d") %></th>
                   <th scope="row row-medical" style="font-weight: 200;"><%= booking.name %></th>
                 </tr>
               <% end %>
             </tbody>
           </table>
         </div>
         <div class="medical-imag">
           <%= image_tag ("https://res.cloudinary.com/dmbtujt7l/image/upload/c_scale,w_117/v1674778200/4_f34g6x.png") %>
         </div>
         <div >
           <h4><%= link_to "Ver todos", bookings_path, class:"boton-ver btn btn-primary"%></h4>
         </div>
       </div>
      </div>
    </div>
  </div>
</div>
