<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
      <div class="row d-flex justify-content-center align-items-center py-5">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5" style="margin-right: 16rem;">
          <div class="card shadow-2-strong" style="border-radius: 0.5rem;">
            <div class="card-body p-5 text-center" style="box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.4); border-radius: 8px 8px 8px 8px;">

              <h3 class="mb-3">Iniciar sesión</h3>

                <div style="font-size:1.3rem;">
                  <%= f.input :email,
                  label: "Email",
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email", class:"form-control form-control-lg" } %>

                
                  <%= f.input :password,
                  label: "Contraseña",
                  required: false,
                  input_html: { autocomplete: "current-password", class:"form-control form-control-lg" } %>
                  <%= f.input :remember_me, label: "Recordar usuario", as: :boolean if devise_mapping.rememberable? %>

                <%= render "devise/shared/links", class:"mt-5", style:"font-size:1.1rem;" %>

                <%= f.button :submit, "Ingresar", class:"btn btn-primary btn-lg btn-block" %>

              </div>
            </div>
          </div>
        </div>
      </div>
<% end %>
