<div class="no-wrap">
  <div class="contenedor  vh-100">
    <div class="card" style="width: 50rem; margin-left: -7rem !important;">
      <div class="mb-5">
        <h1 style="margin-top: 2.5rem;">Examen actual</h1>
        <h4>Actualiza los datos para poder llevar un mejor registro de tu Salud</h4>
        <div class="linea"></div>
      </div>
      <div>
        <%= simple_form_for @exam do |f| %>
          <%= f.input :name, label: "Nombre"%>

          <%= f.input :date, label: "Fecha" %>

          <%= f.input :place, label: "Lugar"%>

          <%= f.input :photo, label: "Foto", as: :file %>

          <div class="mt-5">
          <%= f.submit :Guardar, class:"btn btn-primary btn-block", style:"margin-bottom: 1rem;" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
