<div class="no-wrap">
  <div class="mt-5 vh-100">
    <div class="card mt-5" id="edit-habit" style="width: 50rem;">
      <div class="mb-5 mt-4">
        <h1>Hábito actual</h1>
        <h4>Actualiza los datos para poder llevar un mejor registro de tu salud</h4>
        <div class="linea"></div>
      </div>
      <div>
        <%= simple_form_for @habit do |f| %>
          <%= f.label :Habito %>
          <%= f.select :habit_type, collection: ["Tabaco", "Alcohol", "Café", "Alimentación", "Ejercicio", "Sueño"] %>

          <%= f.input :quantity, label: "Cantidad" %>

          <%= f.label :Frecuencia %>
          <%= f.select :frequency, collection: ["Diario", "Fines de semana", "Habitual", "Ocacional", "Semanal", "Mensual"]%>
          <div class="mt-5">
          <%= f.submit :Crear, class:"btn btn-secondary" %>
          <%= link_to "Volver", habits_path(@habits), class: "btn btn-secondary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
